:root {
    --main-accent: #c1cefe;
    --sec-accent: #aec0fe;
    --main-bg: #0B101E;
}

* {
    font-family: "Carlito";
    user-select: none;
}

body {
    background-color: var(--main-bg);
    text-align: center;
}

.header {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    animation: 1s fade-in;
}

.header > .name {
    color: var(--main-accent);
    font-weight: 500;
    font-size: 30pt;
    text-shadow: 0px 0px 3px var(--main-accent);
}

.header > .bio {
    color: var(--sec-accent);
    font-weight: 400;
    font-size: 16pt;
}

.link-o {
    text-decoration: none;
    color: var(--main-accent);
    font-size: 16pt;
    transition: 0.5s !important;
    text-shadow: 0px 0px 3px var(--main-accent);
    animation: 1.5s fade-in;
}

.link-o:hover {
    text-shadow: 0px 0px 10px var(--main-accent);
}

a {
    text-decoration: none;
}

.link-s {
    text-decoration: none;
    color: var(--main-accent);
    font-size: 16pt;
    transition: 0.5s !important;
    animation: 1.5s fade-in;
    margin: 10px;
}

.link-s:hover {
    text-shadow: 0px 0px 10px var(--main-accent);
}

.links {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
    vertical-align: bottom;
    animation: 1.5s fade-in;
}

.links > .link, a {
    text-decoration: none;
    color: var(--main-accent);
    font-size: 16pt;
    transition: 0.5s !important;
    margin: 10px;
}

.links > .link:hover, a:hover {
    text-shadow: 0px 0px 3px var(--main-accent);
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#cookie {
    display: block; 
    z-index: 99999; 
    min-height: 35px; 
    width: 250px; 
    position: fixed; 
    background: var(--main-accent); 
    border: 0px rgb(30, 136, 229); 
    text-align: center; 
    right: 10px; 
    color: var(--main-bg); 
    top: 10px;
}

#okbutton {
    position: relative; 
    background: var(--main-bg); 
    color: var(--main-accent); 
    padding: 5px 15px; 
    text-decoration: none; 
    font-size: 12px; 
    font-weight: normal; 
}

#skill {
    color: var(--sec-accent);
    font-weight: 400;
    font-size: 16pt;
    animation: 1.5s fade-in;
}

#project {
    color: var(--sec-accent);
    font-weight: 400;
    font-size: 16pt;
    animation: 1.5s fade-in;
    margin: 10px;
}

#project > a {
    text-decoration: none;
    color: var(--main-accent);
    font-size: 16pt;
    transition: 0.5s !important;
    margin: 10px;
}

#project > a:hover {
    text-shadow: 0px 0px 3px var(--main-accent);
}

input {
    border: none;
    border-bottom: 2px solid var(--main-accent);
    background-color: #00000000;
    color: var(--main-accent);
    transition: 0.5s !important;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid var(--sec-accent);
    transition: 0.5s !important;
}

input[type=button] {
    border: 2px solid var(--sec-accent);
    background-color: var(--main-accent);
    color: var(--main-bg);
}

table {
    border: 0;
    background-color: #1f1f1f;
    color: aliceblue;
}

.month_name {
    background-color: aliceblue;
    color: #1f1f1f;
}

.day_name {
    background-color: aliceblue;
    color: #1f1f1f;
    border-radius: 5px;
}

.normal {
    border: 1px solid aliceblue;
}

.normal:hover {
    background-color: aliceblue;
    color: #1f1f1f;
}

.today {
    background-color: teal;
    color: #1f1f1f;
}

.today:hover {
    background-color: turquoise;
    color: azure;
}

.weekend {
    background-color: wheat;
    color: #1f1f1f;
}

.weekend:hover {
    background-color: antiquewhite;
    color: tan;
}

audio {
    border: solid 2px var(--main-accent); 
    border-radius: 50px;
}

audio::-webkit-media-controls-panel {
    background-color: var(--main-accent);
}