body {
	background-color: rgb(25, 25, 25);
	color: rgb(150, 255, 0);
	font-family: "Arial";
	animation: In 1s;
}

a {
	text-decoration: none;
	color: rgb(150, 255, 0);
	transition: text-shadow 0.5s ease;
	text-shadow: 0 0 0px rgb(150, 255, 0);
}

a:hover {
	text-shadow: 0 0 5px rgb(150, 255, 0);
}

#imie {
	font-size: 150%;
	text-align: center;
	text-shadow: 0 0 5px rgb(150, 255, 0);
}

#linki {
	font-size: 150%;
	text-align: center;
	word-spacing: 20px;
}

@keyframes In {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
     }
}
